* {
    primary: #d8f5ff;
    primary-fixed: #afecff;
    primary-fixed-dim: #85d2e8;
    on-primary: #000000;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #001419;
    primary-container: #81cee4;
    on-primary-container: #000000;
    secondary: #dbf4fd;
    secondary-fixed: #cee7ef;
    secondary-fixed-dim: #b2cbd3;
    on-secondary: #000000;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #001419;
    secondary-container: #aec7cf;
    on-secondary-container: #000000;
    tertiary: #efeeff;
    tertiary-fixed: #dee0ff;
    tertiary-fixed-dim: #c0c4eb;
    on-tertiary: #000000;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #090e2c;
    tertiary-container: #bcc0e7;
    on-tertiary-container: #000000;
    error: #ffece9;
    on-error: #000000;
    error-container: #ffaea4;
    on-error-container: #000000;
    surface: #0f1416;
    on-surface: #ffffff;
    on-surface-variant: #ffffff;
    outline: #e9f1f5;
    outline-variant: #bbc4c7;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dee3e6;
    inverse-on-surface: #000000;
    inverse-primary: #004f5f;
    surface-dim: #0f1416;
    surface-bright: #4b5153;
    surface-container-lowest: #000000;
    surface-container-low: #1b2022;
    surface-container: #2c3133;
    surface-container-high: #373c3e;
    surface-container-highest: #42484a;
}
