* {
    primary: #ffece5;
    primary-fixed: #ffdbcb;
    primary-fixed-dim: #ffb693;
    on-primary: #000000;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #240900;
    primary-container: #ffb08a;
    on-primary-container: #000000;
    secondary: #ffece5;
    secondary-fixed: #ffdbcb;
    secondary-fixed-dim: #e6beac;
    on-secondary: #000000;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #1f0c04;
    secondary-container: #e2baa8;
    on-secondary-container: #000000;
    tertiary: #fbf1b6;
    tertiary-fixed: #ede4aa;
    tertiary-fixed-dim: #d0c890;
    on-tertiary: #000000;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #141100;
    tertiary-container: #ccc48c;
    on-tertiary-container: #000000;
    error: #ffece9;
    on-error: #000000;
    error-container: #ffaea4;
    on-error-container: #000000;
    surface: #1a120e;
    on-surface: #ffffff;
    on-surface-variant: #ffffff;
    outline: #ffece5;
    outline-variant: #d3beb6;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f0dfd8;
    inverse-on-surface: #000000;
    inverse-primary: #723818;
    surface-dim: #1a120e;
    surface-bright: #594e49;
    surface-container-lowest: #000000;
    surface-container-low: #271e1a;
    surface-container: #382e2a;
    surface-container-high: #443934;
    surface-container-highest: #50443f;
}
