* {
    primary: #ffebf1;
    primary-fixed: #ffd8e7;
    primary-fixed-dim: #fdb0d4;
    on-primary: #000000;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #2a0019;
    primary-container: #f9acd0;
    on-primary-container: #000000;
    secondary: #ffebf1;
    secondary-fixed: #fdd9e7;
    secondary-fixed-dim: #e0bdcb;
    on-secondary: #000000;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #1e0b15;
    secondary-container: #dcb9c7;
    on-secondary-container: #000000;
    tertiary: #ffece3;
    tertiary-fixed: #ffdbc8;
    tertiary-fixed-dim: #f2bb99;
    on-tertiary: #000000;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #210b00;
    tertiary-container: #eeb796;
    on-tertiary-container: #000000;
    error: #ffece9;
    on-error: #000000;
    error-container: #ffaea4;
    on-error-container: #000000;
    surface: #191114;
    on-surface: #ffffff;
    on-surface-variant: #ffffff;
    outline: #ffebf1;
    outline-variant: #d0bec4;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eedfe3;
    inverse-on-surface: #000000;
    inverse-primary: #6e3553;
    surface-dim: #191114;
    surface-bright: #574d51;
    surface-container-lowest: #000000;
    surface-container-low: #251d21;
    surface-container: #372e31;
    surface-container-high: #42393c;
    surface-container-highest: #4e4448;
}
